<div>
    <div class="w-screen h-screen grid place-items-center p-2">
        <div
            class="text-center place-items-center grid border border-gray-400 p-12 rounded-xl border-dashed"
        >
            <img
                class="fill-current h-16 w-16 mr-2"
                src="./assets/images/work-in-progress.png"
                alt=""
            />
            <a class="mt-4"
                href="https://www.flaticon.com/free-icons/work-in-progress"
                title="work in progress icons"
                >Work in progress icons created by Freepik - Flaticon</a
            >
        </div>
    </div>
</div>
