<footer>
    <div class="p-10 bg-dark text-white">
        <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
                <div class="mb-5">
                    <h4 class="pb-4 font-medium text-xl uppercase text-warning">
                        Acerca de
                    </h4>
                    <p class="pb-2">
                        El Festival de Mayo se realiza todos los años durante la
                        última semana de dicho mes con el fin de promocionar a
                        los artistas locales
                    </p>
                </div>
                <div class="mb-5">
                    <h4 class="pb-4 font-medium text-xl uppercase text-warning">
                        Atracciones
                    </h4>
                    <ul>
                        <li class="pb-4">
                            <i class="fa fa-chevron-right text-yellow-500"></i
                            ><a href="#" class="hover:text-yellow-500"
                                >Bandas de rock</a
                            >
                        </li>
                        <li class="pb-4">
                            <i class="fa fa-chevron-right text-yellow-500"></i
                            ><a href="#" class="hover:text-yellow-500"
                                >Música tropical</a
                            >
                        </li>
                        <li class="pb-4">
                            <i class="fa fa-chevron-right text-yellow-500"></i
                            ><a href="#" class="hover:text-yellow-500"
                                >Música folclórica</a
                            >
                        </li>
                        <li class="pb-4">
                            <i class="fa fa-chevron-right text-yellow-500"></i
                            ><a href="#" class="hover:text-yellow-500"
                                >Grupos de reggaeton</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="pb-4 font-medium text-xl uppercase text-warning">
                        Contacto
                    </h4>

                    <p class="pb-2">
                        <i class="fas fa-home mr-3"></i>Bella Vista, Panamá
                        Calle 43, Panamá
                    </p>
                    <p class="pb-2">
                        <i class="fas fa-envelope mr-3"></i
                        >festival-mayo@gmail.com
                    </p>
                    <p class="pb-2">
                        <i class="fas fa-phone mr-3"></i>+507 393 0105
                    </p>
                </div>
            </div>
        </div>
        <hr class="mb-0" />
    </div>

    <div class="p-10 bg-gray-300 text-white">
        <div class="max-w-7xl mx-auto">
            <div
                class="bg-dark  text-white flex flex-col items-center justify-between md:flex-row"
            >
                <div>
                    <a class="no-underline text-accent" href="index.html">
                        <img
                            class="inline"
                            src="./assets/images/logo7.png"
                            width="32"
                            height="32"
                            title="Logo del Festival de Mayo"
                            alt="Logo"
                        /><span class="pl-2">Festival de mayo</span>
                    </a>
                </div>

                <div>
                    <ul>
                        <li class="lg:inline-block">
                            <a
                                href="./index.html"
                                class="lg:mr-7 mb-8 lg:mb-0 text-accent"
                                >Inicio</a
                            >
                        </li>

                        <li class="lg:inline-block">
                            <a
                                href="./bandas.html"
                                class="lg:mr-7 mb-8 lg:mb-0 text-accent"
                                >Bandas</a
                            >
                        </li>

                        <li class="lg:inline-block">
                            <a href="#" class="lg:mr-7 mb-8 lg:mb-0 text-accent"
                                >Artículo</a
                            >
                        </li>

                        <li class="lg:inline-block">
                            <a href="./contacto.html" class="text-accent"
                                >Contacto</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="flex mt-4 md:m-0">
                    <div class="-mx-4">
                        <ul class="pl-0 list-none -ml-1">
                            <li class="inline-block">
                                <a
                                    href="#"
                                    class="rounded box-border text-sm py-1 px-2 underline text-white"
                                    style="font-size: 23px"
                                    ><i class="fab fa-facebook"></i
                                ></a>
                            </li>
                            <li class="inline-block">
                                <a
                                    href="#"
                                    class="rounded box-border text-sm py-1 px-2 underline text-white"
                                    style="font-size: 23px"
                                    ><i class="fab fa-twitter"></i
                                ></a>
                            </li>
                            <li class="inline-block">
                                <a
                                    href="#"
                                    class="rounded box-border text-sm py-1 px-2 underline text-white"
                                    style="font-size: 23px"
                                    ><i class="fab fa-google-plus"></i
                                ></a>
                            </li>
                            <li class="inline-block">
                                <a
                                    href="#"
                                    class="rounded box-border text-sm py-1 px-2 underline text-white"
                                    style="font-size: 23px"
                                    ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </li>
                            <li class="inline-block">
                                <a
                                    href="#"
                                    class="rounded box-border text-sm py-1 px-2 underline text-white"
                                    style="font-size: 23px"
                                    ><i class="fab fa-youtube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-0" />
    </div>

    <div class="w-full bg-dark text-white px-10">
        <div
            class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-between items-center"
        >
            <div class="text-center">
                <div>
                    <p>
                        <strong>2022 &copy;</strong>
                        <a href="#" class="text-warning">Agustín Beitía</a> -
                        Herramientas
                        <abbr title="HyperText Markup Language" lang="en"
                            >HTML</abbr
                        >
                        y
                        <abbr title="Cascading Style Sheets" lang="en"
                            >CSS</abbr
                        >
                        II.
                    </p>
                </div>
            </div>
            <!-- <div class="text-center text-xl text-white mb-2">
                <a
                    href="#"
                    class="h-10 w-10 rounded-full bg-yellow-500 hover:bg-yellow-600 mx-1 inline-block pt-1 fab fa-twitter"
                ></a>
                <a
                    href="#"
                    class="h-10 w-10 rounded-full bg-yellow-500 hover:bg-yellow-600 mx-1 inline-block pt-1 fab fa-instagram"
                ></a>
                <a
                    href="#"
                    class="h-10 w-10 rounded-full bg-yellow-500 hover:bg-yellow-600 mx-1 inline-block pt-1 fab fa-facebook"
                ></a>
                <a
                    href="#"
                    class="h-10 w-10 rounded-full bg-yellow-500 hover:bg-yellow-600 mx-1 inline-block pt-1 fab fa-skype"
                ></a>
                <a
                    href="#"
                    class="h-10 w-10 rounded-full bg-yellow-500 hover:bg-yellow-600 mx-1 inline-block pt-1 fab fa-linkedin"
                ></a>
            </div> -->
        </div>
    </div>
</footer>
